# Your Data Story Title

Student names: Reyna Geluk (15708845),
Lucas Vaneman (14663937),
Aryan Müller (15631591),
Mieke Fraters (15778770)   

Team number: C3 (#9)

In [1]:
# Load image from link
url = 'https://cdn.cbs.nl/images/6d6937674277573235627978534b49652b6e323757513d3d/900x450.jpg'

# Display image from URL with smaller size and subtitle
from IPython.display import Image, display

# Set the desired image width and height
width = 600
height = 300

# Set the subtitle text
subtitle = "© Hollandse Hoogte / Peter Hilz"

# Create an Image instance with the URL
image = Image(url=url, width=width, height=height)

# Display the image and subtitle
display(image)
print(subtitle)

© Hollandse Hoogte / Peter Hilz

## Introductie

### De topic, perspectieven en argumenten     

## Onderwerp

Het geluksniveau van mensen wordt beïnvloed door een combinatie van vele factoren. In deze data-analyse onderzoeken we of en hoe weersomstandigheden en klimaatfactoren samenhangen met het gemiddelde geluk van mensen in verschillende landen. 

Klimaatfactoren kunnen de leefbaarheid van een land beïnvloeden (1, 2, 3). Zo kan extreem weer, zoals langdurige kou, hittegolven of hoge neerslag, mogelijk leiden tot meer stress, gezondheidsproblemen of economische schade (1,2). Anderzijds zijn er ook landen met minder aangename klimaten waar het geluksniveau toch hoog blijft, vaak dankzij sterke sociale vangnetten en economische stabiliteit.

Naast klimatologische factoren spelen ook sociale vangnetten en instituties een belangrijke rol in het verklaren van het geluksniveau in een land. Landen met goed ontwikkelde sociale structuren bieden vaak meer inkomenszekerheid, toegankelijke gezondheidszorg, goed onderwijs en sterke sociale cohesie. Deze factoren helpen burgers om beter om te gaan met tegenslagen, werkloosheid, ziekte of ouderdom, waardoor het algehele welzijn hoger blijft, zelfs bij ongunstige klimaatomstandigheden.

Het World Happiness Report (4) benadrukt dat aspecten zoals sociale steun, vrijheid van keuzes, lage corruptieniveaus en sterke instituties sterk bijdragen aan het gemiddelde geluk in landen. Hierdoor kunnen landen met een relatief streng klimaat, zoals Scandinavië, toch hoog scoren op de wereldwijde gelukslijsten.

In deze studie proberen we inzicht te krijgen in de relatie tussen klimaat, sociaal-economische factoren en geluk. We baseren ons hierbij onder andere op eerder wetenschappelijk onderzoek dat suggereert dat zowel omgevingsfactoren als maatschappelijke structuren een rol spelen bij het ervaren van geluk.

### Weersomstandigheden en klimaatfactoren die we onderzoeken:
- Gemiddelde temperatuur
- Zonuren
- Air quality index
- Hoeveelheid natural disasters
- Bewolktheid


### Sociaal-economische indicatoren die we onderzoeken:
- GDP per capita
- Sociale steun
- Vrijheid
- Corruptieperceptie
- Gezondheidszorg

## Perspectieven en argumenten

### Perspectief 1: Klimaat heeft een significante invloed op geluk
- **Argument 1.1**: In landen met een stabiel, mild of zonnig klimaat zijn mensen gemiddeld blijer, omdat dergelijke omstandigheden bijdragen aan een prettigere leefomgeving.
- **Argument 1.2**: Extreme weersomstandigheden (hittegolven, kou, neerslag) zorgen voor stress en gezondheidsproblemen, wat het geluksniveau verlaagt.

### Perspectief 2: Sociaal-economische factoren zijn bepalender voor geluk dan klimaat
- **Argument 2.1**: Landen als Zweden, Noorwegen en Finland hebben lange, koude winters, maar behoren tot de gelukkigste landen dankzij sterke sociale vangnetten, gezondheidszorg en welvaart.
- **Argument 2.2**: Economische stabiliteit, werkgelegenheid, gezondheidszorg en sociale verbondenheid dragen meer bij aan geluk dan het klimaat op zich.

Met behulp van de beschikbare datasets proberen we deze perspectieven te toetsen aan de hand van concrete data en visualisaties.

## Bronnen
[1] https://journals.ametsoc.org/configurable/content/journals$002fwcas$002f5$002f1$002fwcas-d-11-00052_1.xml?t:ac=journals%24002fwcas%24002f5%24002f1%24002fwcas-d-11-00052_1.xml  
[2] https://www.sciencedirect.com/science/article/pii/S0921800904002940?casa_token=BVWwnTlWUl8AAAAA:swoTcNB_MJhQproOQsGzi-0ZwV3kB9f008xfHFEcJth19-N9_7H070ksne72pB9LM4kdC_jIhwA  
[3] https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0153638
[4] https://worldhappiness.report/ed/2017/

## Dataset and Preprocessing

In [2]:
# Alle imports
import pandas as pd
import plotly.express as px
import plotly.graph_objs as go
import seaborn as sns
import numpy as np
from plotly.offline import init_notebook_mode
init_notebook_mode(connected=True)

# Datasets importen
df1 = pd.read_csv('World-happiness-report-2024.csv') # De happiness dataset, neem deze en NIET de ander! https://www.kaggle.com/datasets/jainaru/world-happiness-report-2024-yearly-updated
df2 = pd.read_csv('GlobalWeatherRepository.csv')     # Main weather dataset, https://www.kaggle.com/datasets/nelgiriyewithana/global-weather-repository
df3 = pd.read_csv('update_temperature.csv')          # Deze bevat ook de variabele voor natuurrampen, https://www.kaggle.com/datasets/adilshamim8/temperature

df2['last_updated'] = pd.to_datetime(df2['last_updated'])
df22024 = df2[df2['last_updated'].dt.year == 2024]  # Zo is de tabel gefilterd op values uit 2024

def mode(series):
    return series.mode().iloc[0] if not series.mode().empty else np.nan   # Vanwege een error met de mode krijgen van series
    
df2w = df22024.groupby('country').agg({
    'location_name': mode,
    'temperature_celsius' : 'mean',
    'feels_like_celsius' : 'mean',
    'condition_text': mode,
    'wind_kph' : 'mean',
    'sunrise': mode,                      # dit gaan we ook nog veranderen naar een column voor de hoeveelheid uren daglicht. Kijk dus niet naar 
    'sunset' : mode,                      # deze column maar naar de Sunlight hours column. Kan zijn dat r misschien problemen komen met negatieve waarden btw.
    'air_quality_Carbon_Monoxide' : 'mean',
    'air_quality_Ozone' : 'mean',
    'air_quality_Nitrogen_dioxide' : 'mean',
    'air_quality_Sulphur_dioxide' : 'mean',
    'air_quality_PM2.5' : 'mean',
    'air_quality_PM10' : 'mean',
    'air_quality_gb-defra-index' : 'mean',         # Nog niet finalized, we gebruiken waarschijnlijk andere variabelen voor air quality, ff kijken wekle
    'air_quality_us-epa-index' : 'mean'
}).reset_index()

df2w['sunrise'] = pd.to_datetime(df2w['sunrise'], format='%I:%M %p')
df2w['sunset'] = pd.to_datetime(df2w['sunset'], format='%I:%M %p')
df2w['Sunlight hours'] = ((df2w['sunset'] - df2w['sunrise']).dt.total_seconds() / 3600).round(2)

df32024 = df3[df3['Year'] == 2024].copy()         # .copy() want anders verschijnt een warning, 
df32024.rename(columns={'Country' : 'country'}, inplace=True)
df23 = df2w.merge(df32024[['country', 'Extreme_Weather_Events']], on='country', how='left')  # merge van df2 en df3

df1filter = df1[['Country name', 'Ladder score', 'Log GDP per capita',                           # df1 filteren op wat we willen gebruiken
                 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 
                 'Generosity', 'Perceptions of corruption', 'Dystopia + residual']].copy()

df1filter.rename(columns={'Country name' : 'country'}, inplace= True)
df123 = df23.merge(df1filter, on='country', how='left')   # De tabel! We kunnen nog ff kiezen welke waarden wel/niet nodig zijn.

Het bedenken van een concreet onderwerp en het vinden van bruikbare datasets had wat overlap bij ons. Op Kaggle hadden we een dataset gevonden over het geluk van mensen wereldwijd. Deze dataset was goed bruikbaar en zowel gefilterd op land als op jaar, waardoor andere datasets die we konden gebruiken dus ook aan die eisen moesten voldoen. Na nog langer zoeken op Kaggle, vonden we twee andere datasets die ook gefilterd konden worden op land en jaartal. Deze datasets hadden allebei te maken met het klimaat en weersomstandigheden, een van de onderwerpen die we overwogen om als datastory onderwerp te nemen.

### Dataset 1: World Happiness Report- 2024

URL: https://www.kaggle.com/datasets/jainaru/world-happiness-report-2024-yearly-updated ('World-happiness-report-2024.csv')

**Uitleg over de dataset:**     
Het World Happiness Report is een jaarlijks rapport dat gegevens bevat over de gemiddelde gelukkigheid van mensen in, in het geval van het jaar 2024, 143 verschillende landen (1,2). Het rapport wordt opgesteld op basis van de gegevens uit een globale survey en wordt gepubliceerd in samenwerking met de University of Oxford's Wellbeing Research Centre, het Sustainable Development Solutions Network en Gallup (1,3,4). 

bronnen:
1. https://www.unsdsn.org/our-work/world-happiness-report/
2. https://worldhappiness.report/about/
3. dataset url
4. Helliwell et al., 2024 (Helliwell, J. F., Layard, R., Sachs, J. D., De Neve, J.-E., Aknin, L. B., & Wang, S. (Eds.). (2024). World Happiness Report 2024. University of Oxford: Wellbeing Research Centre.

**Variabelen**

De World Happiness Report dataset bevat 12 variabelen: (categoriseer ze ff als like categorical, ordinal, whatever en doe t ook bij de rest. ik dump ff alles in categorical rn): WAT IS VERSCHIL TUSSEN RATIO EN INTERVAL GUYS HELP!!!!

- Discrete:
- Continuous:
- Categorical (discrete): `Country name`, `Regional indicator`,
- Ordinal:
- Interval:
- Ratio (continuous):`Ladder score`, `upperwhisker`, `lowerwhisker`, `Log GDP per capita`, `Social support`, `Healthy life expectancy`, `Freedom to make life choices`, `Generosity`, `Perceptions of corruption`, `Dystopia + residual`

### Dataset 2: World Weather Repository (Daily Updating)

URL: https://www.kaggle.com/datasets/nelgiriyewithana/global-weather-repository ('GlobalWeatherRepository.csv')

**Uitleg over de dataset:**    
De World Weather Repository dataset is een dataset met gegevens over het dagelijkse weer en het klimaat in de hoofdsteden van 210 verschillende landen. De dataset is gecreëerd op 29-8-2023 en er worden dagelijks nieuwe gegevens aan toegevoegd. Voor dit onderzoek wordt er alleen gekeken naar de gegevens uit 2024.

bronnen:    
5. Nidula Elgiriyewithana. (2025). World Weather Repository ( Daily Updating ) [Data set]. Kaggle. https://doi.org/10.34740/KAGGLE/DSV/12171408

**Variabelen**

De World Weather Repository dataset bevat 41 variabelen:

- Discrete:
- Continuous:
- Categorical:
- Ordinal:
- Interval:
- Ratio:
- `country`, `location_name`, `latitude`, `longitude`, `last_updated_epoch`, `last_updated`, `temperature_celsius`, `temperature_fahrenheit`, `condition_text`,  `wind_mph`, `wind_kph`, `wind_degree`, `wind_direction`, `pressure_mb`, `pressure_in`, `precip_mm`, `precip_in`, `humidity`, `cloud`, `feels_like_celsius`, `feels_like_fahrenheit`, `visibility_km`, `visibility_miles`, `uv_index`, `gust_mph`, `gust_kph`, `air_quality_Carbon_Monoxide`, `air_quality_Ozone`, `air_quality_Nitrogen_dioxide`, `air_quality_Sulphur_dioxide`, `air_quality_PM2.5`, `air_quality_PM10`, `air_quality_us-epa-index`, `air_quality_gb-defra-index`, `sunrise`, `sunset`,
 `moonrise`, `moonset`, `moon_phase`, `moon_illumination`

### Dataset 3: Global Environmental Trends 2000-2024

URL: https://www.kaggle.com/datasets/adilshamim8/temperature ('update_temperature.csv')

**Uitleg over de dataset:**    
De Global Environmental Trends dataset bevat ook gegevens over het weer en het klimaat in verschillende landen. (HOEVEEL LANDEN?) UITLEGGEN HOE HET VERSCHILT VAN DE VORIGE DATASET!

bron: 
6. https://www.kaggle.com/datasets/adilshamim8/temperature en iets over OpenML maar staat als t goed is op de website

**Variabelen**

De Global Environmental Trends dataset bevat 10 variabelen:

- Discrete:
- Continuous:
- Categorical:
- Ordinal:
- Interval:
- Ratio:
-  `Year`, `Country`, `Avg_Temperature_degC`, `CO2_Emission_tons_per_capita`, `Sea_level_Rise_mm`, `Rainfall_mm`, `Population`, `Renewable_Energy_pct`, `Extreme_Weather_Events`, `Forest_Area_pct`

### Preprocessing van de data

De raw data uit de drie datasets was niet gelijk bruikbaar voor de visualisaties en correlaties die met dit onderzoek aangetoond moeten worden. Daardoor moest er wat preprocessing plaatsvinden, om de raw data te transformeren naar een bruikbare DataFrame in Pandas.  

Allereerst is de World Weather Repository (df2) dataset gepreprocessed. Deze dataset bevat namelijk het grootste aantal gegevens die nodig zijn voor de visualisaties. Dataset df2 is allereerst gefilterd op het jaar 2024, aangezien dit onderzoek gefocust is op gegevens uit 2024. Vervolgens is de dataset geaggregeerd zodat het de variabelen bevat die nodig zijn voor het onderzoek, aangezien er erg veel instances zijn. De dataset bevat namelijk veel verschillende momentopnames per land, dus de instances moesten allemaal gecombineerd en gecategoriseerd worden per land. Bij de meeste columns kon het gemiddelde van de column worden gebruikt om de waardes te berekenen. Ook konden de columns ‘sunrise’ en ‘sunset’ gecombineerd worden tot een column met de hoeveelheid uren aan zonlicht. (DIT NETJES UITWERKEN!!!! MEER DETAIL IF NEEDED EIG BIJ ALLES)

In [3]:
df2w.head(n=5)

,country,location_name,temperature_celsius,feels_like_celsius,condition_text,wind_kph,sunrise,sunset,air_quality_Carbon_Monoxide,air_quality_Ozone,air_quality_Nitrogen_dioxide,air_quality_Sulphur_dioxide,air_quality_PM2.5,air_quality_PM10,air_quality_gb-defra-index,air_quality_us-epa-index,Sunlight hours
0,Afghanistan,Kabul,22.696943,21.810044,Sunny,12.113974,1900-01-01 04:40:00,1900-01-01 19:10:00,774.743013,107.629258,7.655328,7.974389,14.860000,28.745873,1.772926,1.388646,14.50
1,Albania,Tirana,25.022271,25.559389,Sunny,11.429694,1900-01-01 05:07:00,1900-01-01 16:11:00,257.638646,83.346288,10.230000,4.604236,13.593777,18.724323,1.672489,1.349345,11.07
2,Algeria,Algiers,25.154386,26.760526,Partly cloudy,15.312719,1900-01-01 05:29:00,1900-01-01 17:32:00,307.305263,88.343860,30.107917,12.673136,18.584364,35.214364,2.122807,1.574561,12.05
3,Andorra,Andorra La Vella,14.105677,13.451528,Sunny,9.516594,1900-01-01 06:16:00,1900-01-01 17:21:00,177.131659,64.942358,0.616790,0.162074,3.729760,7.693100,1.048035,1.030568,11.08
4,Angola,Luanda,26.335808,29.028384,Partly cloudy,13.153712,1900-01-01 06:23:00,1900-01-01 18:02:00,690.936900,117.070306,9.025524,8.001550,47.178341,82.926769,4.301310,2.484716,11.65

> *Figure x: De eerste 5 rows van df2w: df2 gefilterd op jaar, land en belangrijke variabelen.*

Vervolgens is de Global Environment Trends (df3) dataset gefilterd. Deze dataset was al gefilterd op land, dus moest het alleen nog gefilterd worden op gegevens uit 2024. Ook moest de columns ‘Country’ renamed worden naar ‘country’, zodat een aggregatie plaats kon vinden met df2. Dataset df3 bevat namelijk een column met extreme weersomstandigheden die goed zou passen bij dit onderzoek. Dataset df3 is vervolgens toegevoegd aan dataset df2, waardoor dataset df23 ontstond.

In [4]:
df32024[['country','Extreme_Weather_Events']].head(n=5)

          country  Extreme_Weather_Events
40  United States                      64
41          China                      48
42        Germany                      25
43         Brazil                      37
44      Australia                      29

> *Figure x: De eerste 5 rows van df32024, df3 gefilterd op 2024, en de variabele Extreme_Weather_Events.*

In [5]:
df23.head(n=5)

,country,location_name,temperature_celsius,feels_like_celsius,condition_text,wind_kph,sunrise,sunset,air_quality_Carbon_Monoxide,air_quality_Ozone,air_quality_Nitrogen_dioxide,air_quality_Sulphur_dioxide,air_quality_PM2.5,air_quality_PM10,air_quality_gb-defra-index,air_quality_us-epa-index,Sunlight hours,Extreme_Weather_Events
0,Afghanistan,Kabul,22.696943,21.810044,Sunny,12.113974,1900-01-01 04:40:00,1900-01-01 19:10:00,774.743013,107.629258,7.655328,7.974389,14.860000,28.745873,1.772926,1.388646,14.50,NaN
1,Albania,Tirana,25.022271,25.559389,Sunny,11.429694,1900-01-01 05:07:00,1900-01-01 16:11:00,257.638646,83.346288,10.230000,4.604236,13.593777,18.724323,1.672489,1.349345,11.07,NaN
2,Algeria,Algiers,25.154386,26.760526,Partly cloudy,15.312719,1900-01-01 05:29:00,1900-01-01 17:32:00,307.305263,88.343860,30.107917,12.673136,18.584364,35.214364,2.122807,1.574561,12.05,NaN
3,Andorra,Andorra La Vella,14.105677,13.451528,Sunny,9.516594,1900-01-01 06:16:00,1900-01-01 17:21:00,177.131659,64.942358,0.616790,0.162074,3.729760,7.693100,1.048035,1.030568,11.08,NaN
4,Angola,Luanda,26.335808,29.028384,Partly cloudy,13.153712,1900-01-01 06:23:00,1900-01-01 18:02:00,690.936900,117.070306,9.025524,8.001550,47.178341,82.926769,4.301310,2.484716,11.65,NaN

> *Figure x: De eerste 5 rows van df23, een combinatie van df2 en df3 waarbij de waarden van df3 zijn toegevoegd aan df2.*

Tenslotte moest de World Happiness Report (df1) dataset nog gecombineerd worden met df23. Dataset df1 was al georganiseerd op land en daardoor vrij makkelijk te gebruiken. Eerst is df1 gefilterd op mogelijk nuttige variabelen. Vervolgens is de column ‘Country name’ hernoemt naar ‘country’, waardoor df1 gecombineerd kon worden met df23, wat resulteerde in de uiteindelijke dataframe df123.

In [6]:
df1filter.head(n=5)

,country,Ladder score,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Dystopia + residual
0,Finland,7.741,1.844,1.572,0.695,0.859,0.142,0.546,2.082
1,Denmark,7.583,1.908,1.520,0.699,0.823,0.204,0.548,1.881
2,Iceland,7.525,1.881,1.617,0.718,0.819,0.258,0.182,2.050
3,Sweden,7.344,1.878,1.501,0.724,0.838,0.221,0.524,1.658
4,Israel,7.341,1.803,1.513,0.740,0.641,0.153,0.193,2.298

> *Figure x: De eerste 5 rows van df1filter, de gefilterde versie van df1 die de belangrijkste variabelen bevat.*

In [7]:
df123[6:14]  # Dit lijkt misschien op een rare selectie aan cellen, maar zo zijn er niet alleen NaN waardes voor de extreme weather events.

,country,location_name,temperature_celsius,feels_like_celsius,condition_text,wind_kph,sunrise,sunset,air_quality_Carbon_Monoxide,air_quality_Ozone,...,Sunlight hours,Extreme_Weather_Events,Ladder score,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Dystopia + residual
6,Argentina,Buenos Aires,13.177632,12.474561,Sunny,11.136842,1900-01-01 08:02:00,1900-01-01 17:51:00,517.272807,35.935965,...,9.82,NaN,6.188,1.562,1.381,0.585,0.681,0.087,0.080,1.812
7,Armenia,Yerevan,22.620524,22.053712,Partly cloudy,8.651528,1900-01-01 05:32:00,1900-01-01 20:35:00,254.201747,77.655022,...,15.05,NaN,5.455,1.444,1.154,0.603,0.650,0.051,0.173,1.379
8,Australia,Canberra,9.911790,8.985153,Clear,10.485590,1900-01-01 05:42:00,1900-01-01 16:57:00,219.703057,49.445852,...,11.25,29.0,7.057,1.854,1.461,0.692,0.756,0.225,0.323,1.745
9,Australia,Canberra,9.911790,8.985153,Clear,10.485590,1900-01-01 05:42:00,1900-01-01 16:57:00,219.703057,49.445852,...,11.25,23.0,7.057,1.854,1.461,0.692,0.756,0.225,0.323,1.745
10,Austria,Vienna,18.178947,17.438596,Partly cloudy,14.800877,1900-01-01 04:54:00,1900-01-01 20:59:00,338.641228,70.290351,...,16.08,NaN,6.905,1.885,1.336,0.696,0.703,0.214,0.305,1.766
11,Azerbaijan,Baku,22.427193,22.546491,Sunny,22.666228,1900-01-01 05:10:00,1900-01-01 20:14:00,284.128947,84.131140,...,15.07,NaN,4.893,1.433,0.876,0.496,0.668,0.112,0.199,1.110
12,Bahamas,Nassau,26.919111,30.552889,Partly cloudy,19.556000,1900-01-01 06:19:00,1900-01-01 20:03:00,239.491778,63.716444,...,13.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Bahrain,Manama,32.711790,36.885153,Sunny,19.667686,1900-01-01 04:45:00,1900-01-01 18:34:00,449.263319,153.274672,...,13.82,NaN,5.959,NaN,NaN,NaN,NaN,NaN,NaN,NaN

> *Figure x: Rij 6 tot en met 14 van de uiteindelijke dataset df123. Deze rijen zijn gekozen zodat er niet alleen NaN waarden staan bij Extreme_Weather_Events*

## Your First Perspective

Iets met landen en een gemiddeld klimaat = hogere happiness, veel zonlicht is ook belangrijk ofzo

### The First Argument of Your First Perspective

Uitleggen hoe en wat en also de code laten zien

In [8]:
import plotly.express as px
import pandas as pd

# Read the data from table1.csv
df = pd.read_csv('table1.csv')

# Create the line plot with Plotly
fig = px.line(df, x="Jaartal", y="Labour strikes", title='Number of labour strikes per year')

# Customize the plot layout
fig.update_layout(
    plot_bgcolor='white',
    height=400,
    xaxis=dict(title='Years'),
    yaxis=dict(title='')  # Remove y-axis tick labels
)

# Add blue small circles when hovering over a point
fig.update_traces(
    mode='lines+markers',
    hovertemplate='<b>%{x}</b><br>Labor strikes: <b>%{y}</b>' +
                  '<extra></extra>',  # Use <extra></extra> to disable default hover info
    line=dict(color='#00a1cd', width=2),
    marker=dict(color='#00a1cd', size=5),
)

# Add horizontal lines at y = 0, 10, 20, 30, and 40
y_values = [0, 10, 20, 30, 40]
for y in y_values:
    fig.add_shape(
        type='line',
        x0=min(df['Jaartal']),
        x1=max(df['Jaartal']),
        y0=y,
        y1=y,
        line=dict(color='black'),
        line_width=0.5
    )

# Show the plot
fig.show()

FileNotFoundError: [Errno 2] No such file or directory: 'table1.csv'

> *Figure 1: Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.*

At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.

In [ ]:
import plotly.graph_objects as go
import pandas as pd

# Read the data from table2.csv
df2 = pd.read_csv('table2.csv')

# Initialize a figure
fig2 = go.Figure()

# Create the first line
fig2.add_trace(
    go.Scatter(
        x=df2["Jaartal"], 
        y=df2["Workers involved (x 1,000)"],
        mode='lines+markers',
        line=dict(color='#00a1cd', width=2),
        marker=dict(color='#00a1cd', size=5),
        name="Workers involved",
        hovertemplate='<b>%{x}</b><br>Workers involved: <b>%{y} thousand</b> <extra></extra>'
    )
)

# Create the second line
fig2.add_trace(
    go.Scatter(
        x=df2["Jaartal"], 
        y=df2["Working days lost (x 1,000)"],
        mode='lines+markers',
        line=dict(color='#0058b8', width=2),
        marker=dict(color='#0058b8', size=5),
        name="Working days lost",
        hovertemplate='<b>%{x}</b><br>Working days lost: <b>%{y} thousand</b> <extra></extra>'
    )
)

# Customize the plot layout
fig2.update_layout(
    plot_bgcolor='white',
    xaxis=dict(title='Years'),
    yaxis=dict(title=''),  # Remove y-axis tick labels
    legend=dict(title='', orientation='h', yanchor='bottom', y=-0.3, xanchor='right', x=0.3),  # Update legend settings
    title="Number of workers involved and working<br>days lost during strikes (in thousand)",
    height=500
)

# Add horizontal lines at y = 0, 100, 200, 300, 400, and 500
y_values = [0, 100, 200, 300, 400, 500]
for y in y_values:
    fig2.add_shape(
        type='line',
        x0=min(df2['Jaartal']),
        x1=max(df2['Jaartal']),
        y0=y,
        y1=y,
        line=dict(color='black'),
        line_width=0.5
    )

# Show the plot
fig2.show()

> *Figure 2: Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.*

Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.

### The Second Argument of Your First Perspective

It va esser tam simplic quam Occidental in fact, it va esser Occidental. A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es. Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.

In [ ]:
import plotly.graph_objects as go
import pandas as pd

# Read the data from table3.csv
df3 = pd.read_csv('table3.csv')

# Create an empty figure
fig3 = go.Figure()

# Define a list of tuples with the variable names and their respective colors
variables = [("Collective agreement (CAO) (% (very) satisfied)", '#00a1cd'), 
             ("Salary (% (very) satisfied)", '#0058b8')]

# Loop over the variables to add a trace for each one
for var, color in variables:
    name = var.split("(")[0].strip()
    fig3.add_trace(go.Bar(
        y=df3["Bedrijfstak"],
        x=df3[var],
        name=name,
        orientation='h',
        hovertemplate=f'%{{y}}<br>{name}: <b>%{{x}}% (very) satisfied</b><extra></extra>',
        marker_color=color
    ))

# Customize the plot layout
fig3.update_layout(
    plot_bgcolor='white',
    title="Percentage of employees satisfied with<br>collective agreement and salary (15-74 yrs), 2022",
    xaxis=dict(title='', title_standoff=10, automargin=True, range=[0, 100]),  # Hide the original x-axis title
    yaxis=dict(title='', autorange="reversed", automargin=True),  # Remove y-axis title and add more whitespace between items
    legend=dict(title='', orientation='h', yanchor='bottom', y=-0.3, xanchor='right', x=0.04),  # Update legend settings
    barmode='group',  # Stack bars instead of placing them side-by-side
    height=600,
    annotations=[dict(x=1.015, y=-0.15, xref='paper', yref='paper', showarrow=False, text="(%) very satisfied")]  # Add annotation as x-axis title
)

# Show the plot
fig3.show()

> *Figure 3: Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.*

Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.

## Your Second Perspective

Kouder klimaat, zonlicht boeit niet, kijk naar de hoogste landen (mainly scandinavisch)

### The First Argument of Your Second Perspective

Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.

In [ ]:
import plotly.graph_objects as go
import pandas as pd
import numpy as np

# Assuming you have df3 as your original DataFrame
# Create a new DataFrame for random data
df4 = df3.copy()
# Set a random seed for reproducibility
np.random.seed(42)

# Add random data for years 2022-2026
for year in range(2022, 2027):
    for var, _ in variables:
        df4[var + " " + str(year)] = np.random.randint(0, 100, df4.shape[0])

# Create an empty figure
fig4 = go.Figure()

# Initialize a list to hold the trace names
trace_names = []

# Loop over the variables to add a trace for each one
for var, color in variables:
    for year in range(2022, 2027):
        name = var.split("(")[0].strip()
        trace_name = f"{name} {year}"
        fig4.add_trace(go.Bar(
            y=df4["Bedrijfstak"],
            x=df4[var + " " + str(year)],
            name=name,
            orientation='h',
            hovertemplate=f'%{{y}}<br>{name}: <b>%{{x}}% (very) satisfied</b><extra></extra>',
            marker_color=color,
            legendgroup=name,  # Add a legend group for each variable
            visible = year == 2022
        ))
        trace_names.append(trace_name)

# Add slider steps
steps = []
for i, year in enumerate(range(2022, 2027)):
    step = dict(
        method="update",
        args=[{"visible": [name.endswith(str(year)) for name in trace_names]},  # Show only the traces ending with the current year
              {"title": f"Randomized percentage of employees satisfied with collective agreement and salary<br>(15-74 yrs), {year}"}],
        label=str(year)
    )
    steps.append(step)

# Customize the plot layout
fig4.update_layout(
    plot_bgcolor='white',
    title="Randomized percentage of employees satisfied with<br>collective agreement and salary (15-74 yrs), 2022-2026",
    xaxis=dict(title='', title_standoff=10, automargin=True, range=[0, 100]),  
    yaxis=dict(title='', autorange="reversed", automargin=True),
    legend=dict(title='', orientation='h', yanchor='bottom', y=-0.185, xanchor='right', x=0.04),
    barmode='group',
    annotations=[dict(x=1.015, y=-0.15, xref='paper', yref='paper', showarrow=False, text="(%) very satisfied")],
    sliders=[dict(
        active=0,
        pad={"t": 110},  # Increase top padding for the slider to move it further down
        len=1,  # Adjust the length of the slider
        steps=steps,
        currentvalue={"visible": False}
    )],
    height=700
)

# Show the plot
fig4.show()

> *Figure 4: Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.*

In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.

Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?

### The Second Argument of Your Second Perspective

Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.

In [ ]:
import plotly.graph_objects as go
import pandas as pd
import numpy as np
import plotly.colors as colors

# Set a random seed for reproducibility
np.random.seed(42)

# Create a new DataFrame for random data
df5 = df3[df3['Bedrijfstak'].isin(df3['Bedrijfstak'].unique()[:5])].copy()

# Define new variables and add random data for each one
new_variables = ["Work-life balance", "Job security", "Company culture"]
for var in new_variables:
    df5[var] = np.random.randint(6, 100, df5.shape[0])  # generate random integers from 6 to 100

# Initialize an empty figure
fig5 = go.Figure()

# Add a pie chart for each variable
for var in new_variables:
    fig5.add_trace(go.Pie(
        labels=df5["Bedrijfstak"],
        values=df5[var],
        name=var,
        hovertemplate=f'{var}: <b>%{{value}}% (very) satisfied</b><extra></extra>',
    ))

# Only display the first pie chart initially
for i in range(1, len(fig5.data)):
    fig5.data[i].visible = False

# Create a dropdown menu
dropdown = [{"label": var, "method": "update",
             "args": [{"visible": [j == i for j in range(len(new_variables))]},
                      {"title": f"Employee satisfaction with {var}"}]}
            for i, var in enumerate(new_variables)]


# Define a custom color scale
custom_colorscale = [
    '#2241D5',
    '#447ADE',
    '#66ABE6',
    '#88D2ED',
    '#AAEEF3'
]

# Customize the plot layout
fig5.update_layout(
    updatemenus=[
        go.layout.Updatemenu(
            buttons=dropdown,
            direction="down",
            showactive=True
        ),
    ],
    title="Employee satisfaction with Work-life balance",
    title_x=0.05,  # move the title to the left
    colorway=custom_colorscale,  # set the blue color scale
    height=500,  # set the height of the plot
    margin=dict(l=50, r=50, t=100, b=50),  # adjust the margins for proper spacing
    xaxis=dict(domain=[0, 0.45]),  # adjust the x-axis position
    yaxis=dict(domain=[0.2, 1.0])  # adjust the y-axis position
)

# Show the plot
fig5.show()

> *Figure 5: Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.*

In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.

In [ ]:
import geopandas as gpd
import pandas as pd
import plotly.express as px
import random

# Read the shapefile using geopandas
shapefile_path = 'gadm41_NLD_shp/gadm41_NLD_1.shp'
data = gpd.read_file(shapefile_path)

# Sample data for demonstration
sample_data = {
    'Province': ['Drenthe', 'Flevoland', 'Fryslân', 'Gelderland', 'Groningen', 'Limburg', 'Noord-Brabant', 'Noord-Holland', 'Overijssel', 'Utrecht', 'Zeeland', 'NA'],
    'average_income': [random.randint(0, 1000000) for _ in range(12)]
}

# Merge the sample data with the shapefile data
merged_data = data.merge(pd.DataFrame(sample_data), left_on='NAME_1', right_on='Province')

# Exclude Zeeuwse meren and IJsselmeer regions
merged_data = merged_data[~merged_data['NAME_1'].isin(['Zeeuwse meren', 'IJsselmeer'])]

# Rename Fryslân to Friesland
merged_data.loc[merged_data['NAME_1'] == 'Fryslân', 'NAME_1'] = 'Friesland'

# Rename Noord-Brabant to Brabant
merged_data.loc[merged_data['NAME_1'] == 'Noord-Brabant', 'NAME_1'] = 'Brabant'

# Rename NA to Zuid-Holland
merged_data.loc[merged_data['NAME_1'] == 'NA', 'NAME_1'] = 'Zuid-Holland'

# Create the choropleth map using Plotly Express
fig6 = px.choropleth_mapbox(
    merged_data,
    geojson=merged_data.geometry.__geo_interface__,
    color='average_income',
    locations=merged_data.index,
    featureidkey="id",
    center={"lat": 52.1326, "lon": 5.2913},
    mapbox_style="carto-positron",
    zoom=5.5,
    color_continuous_scale='Blues',
    labels={'average_income': 'Average income'},
    opacity=0.75,
    hover_name='NAME_1',  # Update to 'NAME_1' for correct hover labels
    hover_data={'average_income': True, 'NAME_1': False},  # Update to 'NAME_1' for correct hover data
    custom_data=['average_income'],
)

fig6.update_traces(
    hovertemplate='<b>%{hovertext}</b><br>Average income: <b>%{customdata[0]}k</b><extra></extra>',
)

fig6.update_layout(
    title_text='Average income by Province in the Netherlands',
    margin={"r": 30, "t": 70, "l": 30, "b": 30},
    legend=dict(
        traceorder='normal',
        font=dict(size=10),
        bgcolor='rgba(255, 255, 255, 0.5)',
        bordercolor='rgba(0, 0, 0, 0.5)',
        borderwidth=0.5
    ),
    hoverlabel=dict(
        bgcolor='white',
        font_size=12,
        font_family='Arial',
    ),
    height=600
)

fig6.show()

> *Figure 6: Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.*

## Reflection

Gewoon ff uitschrijven wat voor een feedback we hebben gekregen van elkaar en van de TAs enzo

## Work Distribution

Curabitur non lacus ex. Maecenas at massa ultricies justo venenatis condimentum sed et eros. Ut vitae iaculis massa. Aenean vitae sagittis nibh. Aliquam pharetra dui suscipit purus dictum rutrum. Donec ultricies odio quis porttitor aliquet. Fusce sed nisl non velit rutrum commodo nec sed magna. Morbi non volutpat mi, cursus pulvinar dolor.

Nam sit amet volutpat sapien. Aenean eu mattis neque. Maecenas eget libero consequat, condimentum nulla luctus, fermentum lectus. Donec at enim sit amet dolor vestibulum faucibus. Vestibulum velit elit, faucibus ut mi sit amet, mollis rutrum eros. Ut ut lacinia ante, eu placerat ligula. Fusce quis convallis purus. Maecenas eget fringilla quam.

Proin ac sapien et lectus tempor dignissim a at arcu. Donec placerat aliquet odio, vel aliquam nibh tempus vel. Pellentesque non velit iaculis, porta metus sed, dictum augue. Aenean tempus gravida ullamcorper. Proin cursus fringilla turpis. Integer id lectus dignissim, ultrices metus vel, dictum quam. Suspendisse augue ligula, vestibulum ac nulla a, porta pharetra leo. Integer et pharetra lacus, in porttitor mauris. Cras sodales metus sit amet enim rhoncus sodales. Etiam orci enim, tincidunt eget arcu vel, gravida scelerisque lacus.

## References

## Appendix

Generative AI (ChatGPT with GPT 3.5) is used to facilitate the creation of this document, as shown in the table below.

| Reasons of Usage | In which parts? | Which prompts were used? |
| ------------------------ | --------------------------------- | -------------------------------------------- |
| Brainstorm research questions and identify keywords for further search | The entire project framing | "Give keywords about the current debate in climate change with brief explanations" |
| Improve writing clarity and enhance readability | All sections | "Edit the following text to make it more clear. Do not alter the meaning." |
| Enhance readability | All sections | "Revise the paragraph to improve readability." |
| Ensure grammatical accuracy |  All sections | "Correct any grammatical errors in the text." |
| Provide alternative phrasing | Descriptions of the perspectives | "Suggest alternative phrases for better clarity." |
| Optimize sentence structure | All sections | "Restructure the sentence for better flow." |
| Condense lengthy sentences | All sections | "Simplify the following sentences without losing important information."|

> *Table 1: Usage of generative AI to facilitate the creation of this document.*